.container{
    width: 700px;
    margin: 0 auto;
}
.detector-input{
    display: flex;
    gap: 1rem;
    tui-input{
        flex-basis: 70%;
    }
}

.text-area{
    padding: 0;
    margin-bottom: 1rem;
}

.animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}
  
@keyframes animate-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}