<div class="container">
    <h1>Fake news detector</h1>
    <div class="detector-input">
        <tui-text-area class="text-area tui-col_md-8" [formControl]="newsInput">Input custom news</tui-text-area>
        <button tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)="onSubmit()">Detect</button>
    </div>
    <div class="detector-output">
        <tui-badge
            size="l"
            *ngIf="isTrue && showResult"
            status="success"
            value="True"
            class="tui-space_right-2 animate"
        ></tui-badge>
        <tui-badge
            size="l"
            *ngIf="!isTrue && showResult"
            status="error"
            value="Fake"
            class="tui-space_right-2 animate"
        ></tui-badge>
    </div>
    <app-news></app-news>
</div>
